{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [{eresp, {git, "https://github.com/nilium/eresp"}},
        {ranch, "1.6.2"},
        lager]}.

{relx, [{release, { erespsv, "0.1.0" },
         [erespsv,
          observer,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
